.GoraniWallet_Layout {
    height: max-content;
    padding-left: 5%;
    padding-right: 5%;
}

.GoraniWallet_Main {
    padding-top: 20%;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
